@model ControleVeiculos.Models.Veiculo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Veiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Responsável
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsavel.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

        <dt>
            Descrição
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Descricao)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
